body {
    background: rgb(32, 26, 24);
}

img {
    width: 40vw;
    border-radius: 20px;
}

img.headshot {
    width: 20vw;
    border-radius: none;
    display: inline-block;
}

p.bio {
    display: inline-block;
    float: top;
}

div {
    background: rgb(108, 104, 216);
    padding: 30px 30px 50px 30px;
    margin: 5px auto 0 auto;
    width: 80vw;
    box-shadow: 5px 5px 5px inset rgb(86, 1, 72);
}

div.bio {
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
}

div.projects {
    border-radius: 0 0 20px 20px;
}

section {
    margin: 20px auto;
    justify-content: center;
}

a {
    text-decoration: none;
    background: rgb(27, 223, 249);
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

.projects {
    background: orange;
    border-radius: 20px;
}

h2 {
    border: 3px solid grey;
    padding: 5px 30px;
    margin: 5px 50px 0 50px;
    text-justify: center;
    background: whitesmoke
}