body {
    background: darksalmon;
}

img {
    width: 40vw;
    border-radius: 20px;
}

div {
    background: cornflowerblue;
    padding: 30px;
    border-radius: 20px;
    margin: 5px auto;
    width: 80vw;
}

section {
    margin: 20px auto;
    justify-content: center;
}

a {
    text-decoration: none;
    background: lime;
    padding: 5px;
    border-radius: 20px;
}

.projects {
    background: orange;
    border-radius: 20px;
}

.projectdiv {
    background: orange;
    padding: 5px 30px;
    border-radius: 20px;
    margin: 5px auto;
}

h2 {
    border-radius: 20px;
    border: 3px solid grey;
    padding: 5px;
    margin: 0;
    text-justify: center;
}